@charset "utf-8";

/* This CSS file contains some default styling. */

x-knob {
	display: inline-block;
	width: 6em;
	height: 6em;
	border-radius: 100px;
	fill: #ebc51e;
	width: 50px;
	height: 50px;
	border: solid 2px #000;

	/* An internal element is target of pointer-events, but not this external x-knob element. */
	pointer-events: none;
}

/*
This only looks good if divisions >= 2.
x-knob::shadow .knob_gfx {
	transition: 200ms transform;
}
*/
